<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user_profile.css">
    <title>
        <%= title %>
    </title>
</head>
<body>
    <header></header>
    <h1>BeeSocial/ <%= title %></h1>

    <a href="/users/login">Login</a>
    <a href="/users/register">Register</a>
    <a href="/users/logout">logout</a>
</body>
</html> -->
<body>
    <h1>
        BeeSocial / <%= title %>
    </h1>
  <section id="feed-post">
    <h4>posts</h4>
    <form action="/posts/create" id="new-post-form" method="post">
        <textarea name="content" id="" cols="30" rows="3"></textarea>
        <input type="submit" name="" value="Post">
    </form>
    <dic id="posts-list-container">
        <ul>
            <% for(post of posts){%>
                <li>
                    <p>
                        <%=   post.content %>
                        <small>
                           <%= post.user.name %>
                        </small>
                    </p>
                
                </li>

                <% } %>
        </ul>
    </dic>
  </section>

</body>
